<div class="flex items-center justify-start mb-0 mt-4">
  <p class="text-white font-medium uppercase">{{ title }}</p>
</div>
<hr class="my-2" />
<div class="flex flex-row items-center justify-between text-white">
  <div
    class="flex flex-col items-center justify-center"
    *ngFor="let item of items"
  >
    <p class="font-light text-sm">{{ item.title }}</p>
    <app-weather-icon
      [code]="item.icon"
      [styles]="weatherIconStyle"
    ></app-weather-icon>
    <img class="w-12 my-1" />
    <p class="font-medium">{{item.temp.toFixed()}}°</p>
  </div>
</div>
